body {
    color: rgb(153, 18, 18);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px 
rgb(204, 59, 14);
    padding: 15px;
    font-size: 27px;
    color: rgb(94, 6, 6);
}
section {
    background: rgb(39, 1, 1); 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}